<meta property="og:image" id="metafile" content="<%= csImage %>">
<meta property="og:image:type" content="image/png">
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= csDate %>" />
<meta property="og:description" content="Comics are seamless and clean when using ComicServer." />
<title><%= csDate %></title>
<link rel="shortcut icon" href="https://old.comicserver.org/img/core.png" />
<%- include ("header") %>
<style>
.comic {
object-fit: contain;
width: 70%;
height:auto;
display: block;
margin-left: auto;
margin-right: auto;
}
</style>
<br></br>
<img id="thing" class="comic">
<div style="width: 100%">
<input type="text" style="font-size:2vw;width:100%;text-align:center" name="SelectedDate" placeholder="Comic date" value="<%= csDate %>" id="txtDate" required readonly="readonly">
</div>
</div>
</div>
<%- include("theme") %>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/jquery-touchswipe@latest/jquery.touchSwipe.min.js"></script>
<script>
const docelename = document.getElementsByName("SelectedDate");
$(function () {
$("#txtDate").datepicker({
changeMonth: true,
changeYear: true,
dateFormat: 'yy/mm/dd',
minDate: '0m',
maxDate: '+1m',
onSelect: function(dateText, inst) { 
window.location = '/tomorrow/<%= comic %>/' + dateText;
}
});
const comic = '<%= csImage %>'.replace(/&amp;/g, '&');
document.getElementById('thing').src = comic
document.getElementById('metafile').content = comic
});
</script>
<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('txtDate').style.fontSize = "4vw";
}
</script>
<%- include('iheader') %>