<title>ComicServer</title>
<link rel='shortcut icon' href='https://old.comicserver.org/img/core.png' />
<p onclick="window.location='/'" style="font-size:3em;font-weight:300;text-align:center;font-family:Magnolia Script;color:var(--ba)">Comicserver</p>
<%- include ('theme') %>
<div style='margin-left:25%;margin-right:25%' id='favs'>
<div id='wizard'>
<div id="innerwiz" style='border-radius:5px;border:medium solid var(--ba)'><p style='padding-left:15px;padding-top:5px;'>Preview Slot</p><hr style='background-color:var(--ba);height:1px;border:0;'><div id="yay" style="padding:100px"><p style="text-align:center">Couldn't Load</p></div>
</div>
<br>
<div id="add">
<p style='color:green;text-align:center' onclick="window.location =`/plzadd?url=${url}`">Add to Favorites</p>
<p style='color:green;text-align:center' onclick="window.location =`/edit`">Go Back</p>
</div>
<script>
if("<%= status %>" === "401") {
document.getElementById('add').innerHTML = `<a href="https://www.comicserver.org/">Create an account</a> to add favorites.</b>`
} else if("<%= status %>" === "429") {
document.getElementById('add').innerHTML = `<b style="padding: 10px;text-align:center">Unable to add favorites at the moment.</b>`
}
const url = "<%= name %>"
const regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
const t = regexp.test(url);
console.log(t)
if(t === false) {
var urll = "https://api.rss2json.com/v1/api.json?rss_url=https://comicsrss.com/rss/" + url + ".rss&api_key=n5q9v8nv91v1g0bmopaipuej366f6yximg3k5lli";
var urle = urll.replace(/\s/g,"").toLowerCase();
console.log(urle)
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
if (this.readyState == 4 && this.status == 200) {
var obj = JSON.parse(this.responseText);
var div = `<b>${obj.items[0].title}</b><hr style="background-color:var(--ba);height:1px;border:0;"><div class="r"><img src="${obj.items[0].thumbnail}"/></div><br><br>`
document.getElementById("yay").innerHTML = div;
}
}
xmlhttp.open("GET", urle, true);
xmlhttp.send();
} else {
let urle = "https://api.rss2json.com/v1/api.json?rss_url=" + url + "&api_key=n5q9v8nv91v1g0bmopaipuej366f6yximg3k5lli";
console.log(urle)
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
if (this.readyState == 4 && this.status == 200) {
var obj = JSON.parse(this.responseText);
var div = `<b>${obj.items[0].title} by ${obj.items[0].author}</b><hr style="background-color:var(--ba);height:1px;border:0;"><div class="r">${obj.items[0].description}</div><br><br>`
document.getElementById("yay").innerHTML = div;
}
};
xmlhttp.open("GET", urle, true);
xmlhttp.send();
}
</script>
<script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js'></script>
<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('favs').style.marginLeft = "auto";
document.getElementById('favs').style.marginRight = "auto";
}
</script>
<%- include('iheader') %>
</div>