<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="https://assets.comicserver.org/img/Logos/ComicServer/cslogo.png" />
<title><%= comic %> for <%= month %>/<%= day %>/<%= year %></title>
<style>
.button-1 {
  border: 2px solid #eee;
  border-radius: 5px;
}
.comic {
content: url("<%= csImage %>");
border: 5px solid #eee;
border-radius: 3px;
}
* {
  box-sizing: border-box;
}
.btn {
border: none;
background-color: inherit;
padding: 14px 28px;
cursor: pointer;
display: inline-block;
}

h1 {
  font-size: 55px;
}
.logo {
content: url("https://assets.comicserver.org/img/Logos/ComicServer/darkhoriz.png");
}
/* Position text in the middle of the page/image */
.cents {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  font-family: Comfortaa;
}
.centes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: Comfortaa;
}
.centestn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: Comfortaa;
}
.topnav {
  overflow: hidden;
  background-color: #2D333B;
}
.footer {
  text-align: center;
  overflow: hidden;
  background-color: #2D333B;
  color: white;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3B424C;
  color: white;
}
.csdiv {
}
</style>
</head>
<body>
<body oncontextmenu="return false;">
<div class="topnav">
<a href="/">
<img class="logo cents">
</a>
<form method="post" action="dailies#viewgen" onsubmit="return submitcheck(this);" name="viewgen">
  <input class="button-1 centerr centes" type="text" class="formbtn" name="comic" placeholder="Comic Name">
  <input class="button-1 centerr centestn" type="submit" class="button-1"  name="submitbutton" class="btn btn-success" value="Go" onclick="clik(comic);">
</form>
<script>
function clik(element)
{
if(element.value === ""){
return;
}
if(element.value === " "){
return;
}
if(element.value === "‎"){
return;
}
  var urlstring = `/search/${element.value.replace(" ", "-")}`;
  window.location.replace(urlstring);
}

function submitcheck(element)
{
  return false;
}
</script>
</div>
<div>‎</div>
<div class="bg-text">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script><img src="<%= csImage %>" class="center"/>
<div style="width: 100%">
<input class="btn centerrr" type="text" name="SelectedDate" placeholder="Comic date" value="<%= comic %> for <%= month %>/<%= day %>/<%= year %>" id="txtDate" required readonly="readonly">
<script type="text/javascript">
const docelename = document.getElementsByName("SelectedDate");
$(function () {
$("#txtDate").datepicker({
changeMonth: true,
changeYear: true,
dateFormat: 'yy/mm/dd',
onSelect: function(dateText, inst) { 
window.location = '/k/<%= comic %>/' + dateText;
}
});
});
</script>
</div>
<div>‎</div>
<div class="footer">
<p><a href="/versions">Cesium Valley</a></p>
  <p>Comics &copy King Features Syndicate</p>
     <!-- <a href="#" onclick="snowStorm.toggleSnow();return false">Snow</a> -->

</div>
</html>
<%- include("themesn") %>
<script>
const fav = localStorage.getItem("fav")
if(fav !== null) {
document.getElementById("dsc").innerHTML = " | <a href='#' onclick='onclik()'>Delete Startup</a>";
}
function onclik(element) {
localStorage.removeItem("fav")
document.getElementById("dsc").innerHTML = "";
}
</script>