<title>ComicServer</title>
<meta property="og:image" content="https://old.comicserver.org/img/Muncie 3.png">
 <meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1982">
<meta property="og:image:height" content="1982">
<meta property="og:type" content="website" />
<meta property="og:title" content="ComicServer" />
<meta property="og:description" content="ComicServer is a service that keeps you up to date with the fun part of the newspaper." />
<link rel='shortcut icon' href='https://old.comicserver.org/img/core.png' />
<%- include ("header") %>
<h2 id="haitchpea" style="font-size: 2vw;text-align:center;padding:1px"
class="profd"><span style="padding-left:10px">Welcome Back, <%= uname %></span></h2>
<p class="proft" style="font-size:1vw" id="txt">Here's your daily runthrough...</p>
<br><br>
<div class="halfsies" id="favs">
</div>
</div>
<p style="color:#3799EB;text-align:center;text-align:center" onclick="window.location.replace('/edit')">Edit</p>
<p onclick="window.location.replace('https://comicserver-daily.comicserver.repl.co/?favs=<%= favs %>')" style="color:#3799EB;text-align:center;text-align:center">Try Daily!</p>
<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('txt').style.fontSize = "4vw";
document.getElementById('haitchpea').style.fontSize = "5vw"
document.getElementById('favs').style.marginLeft = "auto";
document.getElementById('favs').style.marginRight = "auto";
document.getElementById('editmenu').style.marginLeft = "auto";
document.getElementById('editmenu').style.marginRight = "auto";
}
</script>
<%- include('iheader') %>
<%- include('script') %>