<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="https://comicserver.github.io/Site/img/Logos/ComicServer/cslogo.png" />
<title><%= comic %> for <%= month %>/<%= day %>/<%= year %></title>
<style>
.centerr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Comfortaa;
}
.btn {
border: none;
background-color: inherit;
padding: 14px 28px;
cursor: pointer;
display: inline-block;
}
.alerthing {
background-color: #eee;
border-radius: 5px;
font-family: Comfortaa;
text-align: center;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<a href="/">
<div class="logo centerr"></div>
</a>
<form class="center" method="post" action="dailies#viewgen" onsubmit="return submitcheck(this);" name="viewgen">
  <input class="button-1 centerr" type="text" class="formbtn" name="comic" placeholder="Comic Name">
  <input class="button-1 centerr" type="submit" class="button-1"  name="submitbutton" class="btn btn-success" value="Go" onclick="clik(comic);">
</form>
<script>
function clik(element)
{
if(element.value === ""){
return;
}
if(element.value === " "){
return;
}
if(element.value === "‎"){
return;
}
  var urlstring = `/search/${element.value.replace(" ", "-")}`;
  window.location.replace(urlstring);
}

function submitcheck(element)
{
  return false;
}
</script>
<hr></hr>
<img src="<%= csImage %>" class="center"/>
<div style="width: 100%">
<input class="btn centerrr" type="text" name="SelectedDate" placeholder="Comic date" value="<%= comic %> for <%= month %>/<%= day %>/<%= year %>" id="txtDate" required readonly="readonly">
<script type="text/javascript">
const docelename = document.getElementsByName("SelectedDate");
$(function () {
$("#txtDate").datepicker({
changeMonth: true,
changeYear: true,
dateFormat: 'yy/mm/dd',
onSelect: function(dateText, inst) { 
window.location = '/k/<%= comic %>/' + dateText;
}
});
});
</script>
</div>
 </div>
</div>
<p class="footer centeer" style="font-size:1vw">Comics &copy AMU and KFS | <a href="/versions">Cesium</a> <b id="dsc"></b><!-- | <a href="#" onclick="snowStorm.toggleSnow();return false">Snow</a> --></p>
<!-- <script src="https://comicserver.github.io/Site/js/snow.js"></script> -->
<%- include("themesn") %>
<script>
const fav = localStorage.getItem("fav")
if(fav !== null) {
document.getElementById("dsc").innerHTML = " | <a href='#' onclick='onclik()'>Delete Startup</a>";
}
function onclik(element) {
localStorage.removeItem("fav")
document.getElementById("dsc").innerHTML = "";
}
</script>