<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="https://assets.comicserver.org/img/Logos/ComicServer/cslogo.png" />
<title><%= csDate %></title>
<style>
.centerr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Comfortaa;
}
.btn {
border: none;
background-color: inherit;
padding: 14px 28px;
cursor: pointer;
display: inline-block;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<a href="/">
<div class="logo centerr"></div>
</a>
<hr></hr>
<img src="<%= csImage %>" class="center"/>
<div style="width: 100%">
<input class="btn centerrr" type="text" name="SelectedDate" placeholder="Comic date" value="<%= csDate %>" id="txtDate" required readonly="readonly">
<script type="text/javascript">
const docelename = document.getElementsByName("SelectedDate");
$(function () {
$("#txtDate").datepicker({
changeMonth: true,
changeYear: true,
dateFormat: 'yy/mm/dd',
minDate: '1d',
maxDate: '+1m',
onSelect: function(dateText, inst) { 
window.location = '/tomorrow/<%= comic %>/' + dateText;
}
});
});
</script>
</div>
</div>
<p class="footer" style="font-size:1vw">Comics &copy AMU and KFS | <a href="/versions">Cesium</a><!-- | <a href="#" onclick="snowStorm.toggleSnow();return false">Snow</a> --></p>
<!-- <script src="https://assets.comicserver.org/js/snow.js"></script> -->
<%- include("themesn") %>