<%- include('header') %>
<meta property="og:image" content='<%= csImage %>'.replace(/&amp;/g, '&')>
 <meta property="og:image:type" content="image/png">
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= comic %> for <%= month %>/<%= day %>/<%= year %>" />
<meta property="og:description" content="Comics are seamless and clean when using ComicServer." />
<title><%= comic %> for <%= month %>/<%= day %>/<%= year %></title>
<style>
.comic {
object-fit: contain;
width: 90%;
height:auto;
display: block;
margin-left: auto;
margin-right: auto;
}
</style>
<br></br>
<div id="thing"></div>
<input type="text" style="font-size:2em;width:100%;text-align:center" name="SelectedDate" placeholder="Comic date" value="<%= comic %> for <%= month %>/<%= day %>/<%= year %>" id="txtDate" required readonly="readonly">
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
const docelename = document.getElementsByName("SelectedDate");
$(function () {
$("#txtDate").datepicker({
changeMonth: true,
changeYear: true,
dateFormat: 'yy/mm/dd',
onSelect: function(dateText, inst) { 
window.location = '/k/<%= comic %>/' + dateText;
}
});
});
const comic = '<%= csImage %>'.replace(/&amp;/g, '&');
function urlBreak() {
document.getElementById('thing').innerHTML = "<img class='comic' src='" + comic + "'/>"
}
urlBreak()
console.log(document.body.innerHTML)
</script>
<%- include('iheader') %>
  </div>