<%- include("partials/cshead", { bot, user, path, title: "Comic Viewer" }) %>
<style type="text/css">     
        #txtDate
        {
            position: relative;
            top: -7px;
            margin-right: 5px;
        }
</style>
<div id="alert"></div>
<div class="card" style=" width: auto; max-width: 100rem; margin: 2rem; min-width: 10em;">
    <img src="<%= csImage %>" style="width:100%;">
      <div class="card-body">
      <h1 class="card-title"><%= csDate %></h1>

<button class="btn btn-info" onclick="window.location.href='https://csapp.wel3com.repl.co/comic/<%= comic %>/<%= csParamsStart %>'"><i class="bi bi-chevron-double-left"></i></button>
<button class="btn" id="prevbutton" onclick="window.location.href='https://csapp.wel3com.repl.co/comic/<%= comic %>/<%= prevstring %>'"><i class="bi bi-chevron-left"></i></button>
<a class="btn btn-info" href="https://csapp.wel3com.repl.co/comic/<%= comic %>/random"><i class="bi bi-shuffle"></i></a>
<a class="btn btn-info" href="https://csapp.wel3com.repl.co/comic/<%= comic %>"><i class="bi bi-calendar"></i></a>
<button class="btn" id="nextbutton" onclick="window.location.href='https://csapp.wel3com.repl.co/comic/<%= comic %>/<%= nextstring %>'"><i class="bi bi-chevron-right"></i></button>
<button class="btn btn-info" onclick="window.location.href='https://csapp.wel3com.repl.co/comic/<%= comic %>/<%= csParamsEnd %>'"><i class="bi bi-chevron-double-right"></i></button>
<form method="post" action="dailies#viewgen" onSubmit="return submitcheck(this);" name="viewgen" >
  <input type="text" name="SelectedDate" placeholder="Comic date" value="<%= year %>/<%= month %>/<%= day %>" id="txtDate" required readonly="readonly">
  <input type="submit" name="submitbutton" class="btn btn-success" value="Get Comic" onClick="klik(SelectedDate);">
</form>
<script>
const str = "<div class='alert alert-success alert-dismissible'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Embed</strong> This url: https://csapp.wel3com.repl.co/embed/<%= comic %>/<%= year %>/<%= month %>/<%= day %></div>"
function myFunction() {
document.getElementById("alert").innerHTML = str
}
</script>
<button class="btn btn-info" onclick="myFunction()">Embed</button>
<style>
.hidden {
display: none;
}
</style>
<script>
function transButton() {
  var element = document.getElementById("hehe");
  element.classList.remove("hidden");
}
function closeButton() {
  var element = document.getElementById("hehe");
  element.classList.add("hidden");
}
</script>
<button class="btn btn-info" onclick="transButton()">Transcript</button>
<div class='alert alert-success hidden alert-dismissible' id="hehe"><a href='#' onclick="closeButton()" class='close' aria-label='close'>&times;</a><%= csTranscript %></div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
        type="text/javascript"></script>
        <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
        rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $("#txtDate").datepicker({
                changeMonth: true,
                changeYear: true,
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: 'https://csapp.wel3com.repl.co/calendar.gif',
                dateFormat: 'yy/mm/dd',
                yearRange: '<%= csStartFormatted %>:<%= csEndFormatted %>'
            });
        });
    </script>
<script>
function klik(element)
{
if(element.value === ""){
return;
}
if(element.value > "<%= csParamsEnd %>") {
const str = "<div class='alert alert-warning alert-dismissible'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Sorry,</strong> that date exceeds the date of the latest comic strip.</div>"
document.getElementById("alert").innerHTML = str;
return;
}
if(element.value < "<%= csParamsStart %>") {
const str = "<div class='alert alert-warning alert-dismissible'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Sorry,</strong> that date is set before the start of the strip.</div>"
document.getElementById("alert").innerHTML = str;
return;
}
if(element.value === " "){
return;
}
if(element.value === "‎"){
return;
}
  var urlstring = `https://csapp.wel3com.repl.co/comic/<%= comic %>/${element.value}`;
  window.location.replace(urlstring);
}

function submitcheck(element)
{
  return false;
}
</script>
<br>
<script>
if("<%= csParamsEnd %>" < "<%= nextstring %>") {
function disableNext() {
  document.getElementById("nextbutton").disabled = true;
}
const element = document.getElementById("nextbutton");
disableNext();
element.classList.add("btn-disabled");
} else {
const element = document.getElementById("nextbutton");
element.classList.add("btn-info");
}
if("<%= csParamsStart %>" > "<%= prevstring %>") {
function disablePrev() {
  document.getElementById("prevbutton").disabled = true;
}
const element = document.getElementById("prevbutton");
disablePrev();
element.classList.add("btn-disabled");
} else {
const element = document.getElementById("prevbutton");
element.classList.add("btn-info");
}
</script>
<%- include("partials/csfoot") %>