<title>ComicServer</title>
<p style="font-size:3em;font-weight:300;text-align:center;text-shadow:.5px .5px #000"><span style="color:white">Comic</span><span style="color:#3699EC">server</span></p>
<%- include ("header") %>
<h2 id="haitchpea" style="font-size: 2vw;text-align:center;padding:1px"
class="profd"><img style="vertical-align:middle" class="profile" id="prof" src="https://cdn.discordapp.com/avatars/<%= id %>/<%= ava %>?size=512">Welcome Back, <%= uname %></h2>
<p class="proft" style="font-size:1vw" id="txt">Here's your daily runthrough...</p>
<div style="margin-left:25%;margin-right:25%" id="favs">
<br></br>
<b id="1" onclick="setOne()">Slot 1</b>
<hr></hr>
<div class="r" id="rss1"><ul></ul></div>
<br></br>
<b id="2" onclick="setTwo()">Slot 2</b>
<hr></hr>
<div class="r" id="rss2"><ul></ul></div>
<br></br>
<b id="3" onclick="setThree()">Slot 3</b>
<hr></hr>
<div class="r" id="rss3"><ul></ul></div>
<br></br>
<b id="4" onclick="setFour()">Slot 4</b>
<hr></hr>
<div class="r" id="rss4"><ul></ul></div>
<br></br>
<b id="5" onclick="setFive()">Slot 5</b>
<hr></hr>
<div class="r" id="rss5"><ul></ul></div>
<br></br>
<b id="6" onclick="setSix()">Slot 6</b>
<hr></hr>
<div class="r" id="rss6"><ul></ul></div>
<br></br>
<b id="7" onclick="setSeven()">Slot 7</b>
<hr></hr>
<div class="r" id="rss7"><ul></ul></div>
<br></br>
<b id="8" onclick="setEight()">Slot 8</b>
<hr></hr>
<div class="r" id="rss8"><ul></ul></div>
<br></br>
<b id="9" onclick="setNine()">Custom Slot</b>
<hr></hr>
<div class="r" id="rss9"><ul></ul></div>
<br></br>
<p style="color:red;text-align:center" onclick="delFav()">Delete</p>
<script>
if('<%= uname %>' === "") {
document.getElementById('haitchpea').innerHTML = "Welcome Back!";
document.getElementById('favs').innerHTML = "<b>About ComicServer</b><hr></hr><p>ComicServer is a free online service to let you view almost every <b>comic strip</b> and set up to nine presets for custom comics updating daily on the home screen (with Discord connection). To further customize your experience, we offer four themes, Basic, Birch, Blackout, and Blast. These themes act as a way for the website to be come more natural, instead of a tool. We offer three well-known syndicates: Andrews McMeel (e.g., Peanuts, Calvin and Hobbes), King Features (e.g., Popeye, Family Circus), and Creators (e.g., Heathcliff). ComicServer is the new part of your online newspaper. Here, anytime.<br></br><i>Last updated with ComicServer Muncie 2 (v6.1.0)</i></p>";
document.getElementById('txt').innerHTML = "<a href='https://discord.com/api/oauth2/authorize?client_id=976272514051350538&redirect_uri=https%3A%2F%2Fwww.comicserver.org%2Flogin%2Fcallback&response_type=code&scope=identify'>Sign In</a>";
}
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('haitchpea').style.fontSize = "5vw";
document.getElementById('txt').style.fontSize = "3vw";
}
</script>
<%- include('script') %>